apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base
  - https://github.com/querti/mintmaker/config/default?ref=5a6f2692051f4ab2f5dd63059e2063c7fab07a6f
  - https://github.com/querti/mintmaker/config/renovate?ref=5a6f2692051f4ab2f5dd63059e2063c7fab07a6f

images:
  - name: quay.io/konflux-ci/mintmaker
    newName: quay.io/lgallovi-test/mintmaker-test
    newTag: config-test3

namespace: mintmaker

commonAnnotations:
  argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true

components:
  - ../components/rh-certs


patches:
- target:
    kind: Deployment
    name: mintmaker-controller-manager
  patch: |-
    - op: replace
      path: /spec/template/metadata/annotations/mintmaker.appstudio.redhat.com~1renovate-image
      value: "quay.io/konflux-ci/mintmaker-renovate-image:63bbd024c8dd55cecf621a4cf2179f4c230b88ca"