apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base
  - https://github.com/konflux-ci/mintmaker/config/default?ref=3fb92a3d4eb12d6f4efb6bf9c09ff28cd7a59d5e
  - https://github.com/konflux-ci/mintmaker/config/renovate?ref=3fb92a3d4eb12d6f4efb6bf9c09ff28cd7a59d5e

images:
  - name: quay.io/konflux-ci/mintmaker
    newName: quay.io/konflux-ci/mintmaker
    newTag: 7f0cd9e10e0ede8e2dcce8e5cbaa3647b4548cc4

namespace: mintmaker

commonAnnotations:
  argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true

components:
  - ../components/rh-certs
