apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base
  - https://github.com/konflux-ci/mintmaker/config/default?ref=414b18dd9eecfb93f0985eb63f21df21ed328f42
  - https://github.com/konflux-ci/mintmaker/config/renovate?ref=414b18dd9eecfb93f0985eb63f21df21ed328f42

images:
  - name: quay.io/konflux-ci/mintmaker
    newName: quay.io/lgallovi-test/mintmaker-test
    newTag: redis-full-test

namespace: mintmaker

commonAnnotations:
  argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true

components:
  - ../components/rh-certs


patches:
- target:
    kind: Deployment
    name: mintmaker-controller-manager
  patch: |-
    - op: replace
      path: /spec/template/metadata/annotations/mintmaker.appstudio.redhat.com~1renovate-image
      value: "quay.io/konflux-ci/mintmaker-renovate-image:63bbd024c8dd55cecf621a4cf2179f4c230b88ca"